body, html {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 50px);
  grid-template-rows: repeat(var(--grid-rows), 50px);
  overflow: none;

  user-select: none;
}

.node {
  cursor: pointer;
}

button {
  color: blueviolet;
  background-color: whitesmoke;
}