body, html {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.node {
  cursor: pointer;
}

.toolbar-button {
  width: 50px;
  height: 30px;
  text-align: center;
  padding: 8p;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;

  background-color: white;
  color: pink;
}

.toolbar-button.selected {
  background-color: pink;
  color: purple;
}